<div class="outer">

  <form [formGroup]="taskForm" (ngSubmit)="saveTask()">

  <mat-form-field appearance="outline">
    <mat-label>Task Name</mat-label>
    <input type="text"
           placeholder="Assignment"
           matInput
           formControlName="name"
    />
  </mat-form-field>
  &nbsp;
  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <input type="text"
      placeholder="Description"
      matInput
      formControlName="description"
    />
  </mat-form-field>
  &nbsp;
  <mat-form-field appearance="outline">
    <mat-label>Due Date</mat-label>
    <input type="text"
      placeholder="24/12/2021"
      matInput
      formControlName="duedate"
    />
  </mat-form-field>
  &nbsp;
  &nbsp;
  <button mat-raised-button
          [disabled]="taskForm.invalid"
          color="primary"
          type="submit">Save Task</button>

        </form>
</div>
